<h2>Liste des conversations</h2>
<ul>
  <li *ngFor="let chat of chats">
    <button (click)="openChat(chat)">
      Chat avec {{
        user.role.name === 'ADVISOR' ? chat.client?.username : chat.advisor?.username
      }}
    </button>
    <span style="margin-left:10px; color:#636e72; font-size:0.95em;">
      Démarrée le {{ chat.startedAt | date:'dd/MM/yyyy à HH:mm' }}
    </span>
  </li>
</ul>

<div *ngIf="user.role.name === 'USER'">
  <h3>Conseillers actifs disponibles</h3>
  <ul>
    <li *ngFor="let advisor of advisors">
      {{ advisor.username }}
      <button (click)="createChatWithAdvisor(advisor)">Contacter ce conseiller</button>
    </li>
  </ul>
</div>

<button (click)="logout()">Déconnexion</button>
